.main-container{
  background-color: aqua;

}
.session1{
  background-color: rgb(244, 244, 248);
  
}
.img-container{
  justify-content: space-around;
}
.heading{
  background-color: rgb(84, 76, 76);
  display: flex;
}
.content{
 background-color: brown;
}
.bio{
background-color: green;
}
.name{
  color:aliceblue;
  font-size: 2em;
}
#pic{
padding: 3px;
}
#name {
align-items:center;
width: 100%;
height: 100%;
align-content: center;
}
#address, h4, h5{
  background-color:  rgb(84, 76, 76);
  width: 100%;
  height: 100%;
  justify-content: center;
}

 img{
  padding: 3px;
  width: 75%;
  height: 75%;
}
